[user]
	name = "Ian Andwati"
	email = andwatiian@gmail.com

[init]
	defaultBranch = main

[web]
browser = firefox

[core]
autocrlf = input

[url "git@github.com:"]
insteadOf = https://github.com/

[color]
ui = true

[help]
autocorrect = 10

[color "branch"]
current = magenta bold
local = yellow bold
remote = cyan bold

[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold
whitespace = red reverse

[color "status"]
branch = magenta bold
added = green bold
changed = yellow bold
untracked = red bold
unmerged = "#fe8019"

[pull]
rebase = false

[alias]
ncommits = "rev-list --all --count"
ucommits = "shortlog --summary --numbered --email"
sum = log --pretty='  %C(ul "#fe8019")%h:%C(reset)%C(yellow):%><|(30)%an:%C(reset)%C(white):%s%C(reset)%C(bold red)%d%C(reset)'
lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) %C(italic brightwhite)at%C(reset) %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset) %C(italic brightwhite)by%C(reset) %C(ul bold "#fe8019")%an%C(reset)%n''            %C(italic brightwhite)message:%C(reset) %C(white)%s%C(reset) %C(reset)' --all
aliases = !git config -l | grep alias | cut -c 7-
snap = !git stash save 'snapshot: $(date)' && git stash apply 'stash@{0}'
send = "!f() { git add -A && git commit \"$@\" && git push; }; f"
